.h1 {
    color: red;
    font-family: "Arial", sans-serif;
}

.h2 {
    color: blue;
    font-family: 'Roboto', sans-serif;
}

.h3 {
    color: orange;
    font-family: "Times New Roman", Times, serif;
}

.p {
    color: green;
    font-family: "Courier New", Courier, monospace;
}

.caja {
    height: 300px;
    width: 600px;
    border: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
}

.caja div {
    height: 200px;
    width: 500px;
    border: 20px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;

}

.caja div div {
    height: 100px;
    width: 400px;
    background-color: yellow;
    display: flex;
    position: relative;


}
